.grandparent {
    background-color: blue;
    .child {
        background-color: red;
    }
    .parent {
        background-color: pink;
        .child {
            background-color: purple;
        }
    }
}